ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-left: 30%;
    padding-top: 10px;
}
li{

}
nav{
    display: flex;
    flex-direction: row;
}
button{
    margin-left: 10%;
}
.login{
    margin-left: 100px;
}